body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 1rem;
    font-weight: normal;
}

h3{
    text-transform: uppercase;
}

.details{
    display: flex;
    padding: 1.5rem;
    color: black;
    gap: 2vw;
}

.cards{
    background-color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
}