header{
    background-color: red;
    color: white;
    margin: 1vh;
    padding: 10rem;
    text-align: center;
}

main{
    font-size: 1rem;
    background-color: yellow;
    margin: 1vh;
    padding: 3rem;
    text-align: center;
}

aside{
    background-color: aqua;
    margin: 1vh;
    padding: 3rem;
    text-align: center;
}

footer{
    background-color: blue;
    color: white;
    margin: 1vh;
    padding: 3rem;
    text-align: center;
}

.item-01{
    background-color:black;
    color: white;
    margin: 1vh;
    padding: 3rem;
    text-align: center;
    border-radius: 5px;
}

.item-02{
    background-color: aquamarine;
    margin: 1vh;
    padding: 3rem;
    text-align: center;
}

.item-03{
    background-color: violet;
    margin: 1vh;
    padding: 3rem;
    text-align: center;
}