body{
    display: grid;
    margin: 0;
    height: 100vh;
    gap: 10px;
    grid: "header header header" 1fr
            "footer footer footer" 2fr
            / auto 3fr auto;
}

header{
    background-color: red;
    grid-area: header;
}


main{
    background-color: yellow;
}

aside{
    background-color: violet;
}

footer{
    background-color: chocolate;
    grid-area: footer;
}